<h1>Editing trip</h1>

<%= render "form", trip: @trip %>

<br>


<div>
  <% if current_user && @trip.user.eql?(current_user) %>
    <% if @trip.requested_participants.any? %>
      <%= link_to "Manage Requests |", manage_requests_trip_path(@trip)%> 
    <% end %>|
  <% end %>
  <%= link_to "Show this trip", @trip %> |
  <%= link_to "Back to trips", trips_path %>
</div>
