<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= user.cpf %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= user.driver %>
  </p>

</div>
