<style>
    .jumbotron {
      text-align: center;
      margin-top: 100px;
      background-color: #f8f9fa;
    }
</style>


<div class="jumbotron">
  <h1>CargoMatch</h1>
  <p>
    Encontre fretes mais baratos para a sua encomenda!
  </p>
  <p>
    <%= link_to 'Crie uma conta', 'users/new', class: 'btn btn-primary btn-lg' %>
  <p>
  <%= link_to 'Ver viagens oferecidas', 'trips', class: 'btn btn-primary btn-lg' %>
  <p>
  <%= link_to 'Solicite ou ofereça uma viagem', 'trips/new', class: 'btn btn-primary btn-lg' %>
  </p>
</div>

