<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nome:</strong>
    <%= usuario.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= usuario.cpf %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= usuario.tipo %>
  </p>

</div>
